@font-face {
	font-family: "Gotham";
	font-weight: 900;
	src: url("../fonts/GothamPro-Black.woff2") format("woff2"),
    url("../fonts/GothamPro-Black.woff") format("woff");
}

@font-face {
	font-family: "Gotham";
  	font-weight: 500;
  	src: url("../fonts/GothamPro-Medium.woff2") format("woff2"),
    url("../fonts/GothamPro-Medium.woff") format("woff");
}

@font-face {
	font-family: "Gotham";
  	font-weight: bold;
  	src: url("../fonts/GothamPro-Bold.woff2") format("woff2"),
    url("../fonts/GothamPro-Bold.woff") format("woff");
}

.page {
	font-family: Gotham, sans-serif;
	min-height: 100vh;
	background-color: #ed4159;
	background-image: url(../images/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page__inner {
	overflow: hidden;
	padding: 0 16px 16px;
	max-width: 600px;
	margin: 0 auto;
}

.header {
	padding-top: 43px;
}

.header__logo {
	display: block;
	width: 182px;
	height: 40px;
	margin: 0 auto;
}

.content {
	padding-top: 37px;
}

.login-form, 
.user-profile {
	border-radius: 8px;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	padding: 32px 24px;
	box-sizing: border-box;
}

.login-form__title {
	opacity: 0.8;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	color: #262626;
	font-weight: 500;
}

.login-form__input_email {
	margin: 32px 0 24px 0;
}

.login-form__error {
	margin-top: 24px;
	border-radius: 4px;
	background-color: rgba(237, 65, 89, 0.25);
	font-size: 12px;
	font-weight: 500;
	color: #ed4159;
	padding: 14px;
}

.login-form__submit {
	width: max-content;
}

.user-profile__avatar {
	width: 86px;
	height: 86px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.user-profile__name {
	opacity: 0.8;
	font-size: 18px;
	letter-spacing: 0.15px;
	text-align: center;
	color: #262626;
	display: block;
	margin-top: 24px;
}

.login-form__submit, 
.user-profile__logout {
	min-width: 145px;
	margin: 40px auto 24px auto;
}

.login-form__input {
	display: block;
	border-radius: 4px;
	background-color: #f1f1f1;
	border: solid 1px transparent;
	padding: 14px 16px;
	font-family: Gotham, sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: rgba(38, 38, 38, 0.8);
	outline: none;
	-webkit-appearance: none;
	box-sizing: border-box;
	width: 100%;
}

.login-form__input::placeholder {
	color: rgba(38, 38, 38, 0.4);
}

.login-form__input:focus {
	border-color: rgba(151, 151, 151, 0.25);
}

.login-form__input_invalid,
.login-form__input_invalid:focus {
	color: #ed4159;
	border-color: #ed4159;
}

.login-form__input_invalid::placeholder {
	color: rgba(237, 65, 89, 0.8);
}

.button {
	font-family: Gotham, sans-serif;
	box-sizing: border-box;
	display: block;
	outline: none;
	border: 0;
	padding: 16px 32px;
	height: 48px;
	border-radius: 100px;
	box-shadow: 0 4px 16px 0 rgba(237, 65, 89, 0.4);
	background-color: #ed4159;
	text-align: center;
	-webkit-appearance: none;
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #ffffff;
	color: #ed4159;
}

.button:hover,
.button:focus {
	box-shadow: 0 6px 20px 0 rgba(237, 65, 89, 0.4);
}

.button:active {
	box-shadow: 0 2px 10px 0 rgba(237, 65, 89, 0.5);
}

@media screen and (min-width: 768px) {
	.header {
		padding-top: 142px;
	}

	.header__logo {
		width: 315px;
		height: 69px;
	}

	.login-form__title {
		font-size: 24px;
	}

	.login-form__input_email {
		margin: 48px 0 32px 0;
	}

	.login-form__error {
		margin-top: 32px;
		font-size: 14px;
		padding: 14px 16px;
	}

	.login-form__submit {
		margin: 60px auto 12px auto;
	}

	.user-profile__avatar {
		width: 128px;
		height: 128px;
	}

	.user-profile__name {
		font-size: 28px;
		margin-top: 40px;
	}

	.user-profile__logout {
		margin-top: 56px;
		width: 100%;
	}
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
 
	.page {
		background-image: url(../images/background@2x.jpg);
	}
}